.game-body {
    margin: 40px auto;
    padding: 40px 0;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7e7c1;
    border-radius: 20px;
}



body.dark-mode .game-body {

    margin: 40px auto;
    padding: 40px 0;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2e2e2d;
    border-radius: 20px;
}


.game-main {
    display: flex;
    gap: 220px;
    flex-wrap: wrap;
    justify-content: center;
}

.column-left {
    float: left;
    width: 30%;
}
.column-right {
    float: left;
    width: 70%;
    height: 6vh;
}

.clickerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clicker {
    width: 325px;
    transition: 0.15s ease;
    filter: drop-shadow(0 5px 10px rgba(0,0,0,0.2));
}

.clicker:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.clicker:active {
    transform: scale(1.08);
}


.game-body h2, .game-body h3 {
    text-align: center;
    font-weight: 700;
    color: #000000;
}

body.dark-mode .game-body h2,body.dark-mode .game-body h3 {
    text-align: center;
    font-weight: 700;
    color: #ffffff;
}

#rage h3 {
    color: #fff8ec;
}

#upgrade, #rage {
    background-color: #2b2b2b; 
    color: #fff8ec;
    border-radius: 12px;
    padding: 15px 25px;
    width: 300px;
    height: 87px;
    margin-bottom: 20px;
    transition: 0.2s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

#upgrade:hover, #rage:hover {
    cursor: pointer;
    background-color: #0a0a0a;
}

#upgrade:active, #rage:active {
    transform: scale(0.97);
}

#upgrade p,
#rage p {
    margin: 0;
    padding: 0;
    text-align: center;
}


#rage{
    background-color: #bb1d1d;
    color: #fff8ec;
}

#rage:hover{
    background-color: #ac0c0c;
}

.win-button {
    margin-top: 40px;
    background-color: #3a2f2f;
    color: #fff8ec;
    padding: 20px 40px;
    border-radius: 15px;
    text-align: center;
    transition: 0.2s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.win-button:hover {
    cursor: pointer;
    background-color: #4a3f3f;
}

.win-button:active {
    transform: scale(0.97);
}

