body {
    background-color: #f5f0e6;
    color: #4a3f35; 
} 

.navbar, #navMenu li{ 
    background-color: #9b7848 !important; 
} 

#navMenu li:hover { 
    background-color: #856334 !important; 
}

.navbar-brand, .nav-link { 
    color: #ffffff !important; 
} 

.bg-light { 
    background-color: #f0e7d8 !important; 
}

.card { 
    background-color: #faf5ee;
    border: 1px solid #e0d6c6; 
} 

.btn-primary { 
    background-color: #b08a5c; 
    border-color: #b08a5c; 
} 
    
.btn-primary:hover { 
    background-color: #9c784d; 
    border-color: #9c784d;
} 

.btn-outline-primary { 
    color: #8b6f47; 
    border-color: #8b6f47; 
} 

.btn-outline-primary:hover { 
    background-color: #8b6f47; 
    color: #fff; 
} 

li {
    background-color: #ebddc3 !important;
}

footer {
    background-color: #8b6f47; 
}

.carousel-image img {
    height: 700px;
    object-fit: cover;
}

.carousel-caption { 
    top: 50%; 
    transform: translateY(-50%); 
    bottom: auto; }

.carousel-label { 
    font-size: 3rem; 
    font-weight: bold; 
    text-shadow: 10px 10px 18px rgb(0, 0, 0); 
}